<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Song Recommender</title>

  {{ bootstrap.load_css() }}
  {% block styles %}
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
  {% endblock %}
</head>	
<body>
{% block content %}

<div class="container">
  <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
    <h2 class="pt-5 pb-2">Song Recommender</h2>
    <br><br>
    <div class="form">
      <form action="{{ url_for('.index') }}" method="POST">
        {{ form.csrf_token }}
        <div class="mb-3">
          {{ form.artist(class="form-control", placeholder="Artist", value='') }}
          {{ form.name(class="form-control", placeholder="Song Title", value='') }}
        </div>
        {{ form.submit(class="btn btn-primary") }}

      </form>
    </div>
    {% if message %}
      <div class="alert alert-danger" role="alert">
        {{ message }}
      </div>
    {% endif %}
  <br><br>

    {% if similar_songs %}
      <h4 class="pt-3 pb-2">Songs similar to {{artist}} - {{name}}</h4>
      <table class="table table-borderless align-middle">
        <caption class="visually-hidden">Similar Songs</caption>
        <tbody>
        {% for song in similar_songs %}
          <tr>
            <td>{{ song }}</td>
          </tr>
        {% endfor %}
      </tbody>
      </table>
    {% endif %}
  </div>
</div>
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
{% endblock %}
{% endblock %}
</body>